<div class="button-container">
  <button class="button-3d">
    <div class="button-top" id="vi" (click)="change('vi')" #lang>
      <span class="material-icons">VN</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>
  <button class="button-3d">
    <div class="button-top" id="en" (click)="change('en')" #lang>
      <span class="material-icons">EN</span>
    </div>
    <div class="button-bottom"></div>
    <div class="button-base"></div>
  </button>
</div>
