.warning {
  background-color: yellow;
  color: black;
  font-size: 2.5rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.exclamation {
  height: 3rem;
  width: auto
}
